.memoGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoTitle {
  text-align: center;
  font-size: 2.5rem;
}

.cardImagesContainer {
  height: 700px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard {
  0%, 70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card img {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
}

@keyframes hideImage {
  0%, 70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
}

.card.active img {
  transform: scale(1);
}

.card.correct {
  background-color: greenyellow;
}

.card.wrong {
  background-color: rgb(224, 92, 44);
}

.memoModal {
  text-align: center;
}

.memoModal, .memoOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

}

.memoOverlay {
  background-color: rgb(78, 78, 78);
}

.memoModalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0px 0px 5px 5px #6c6c6c;
}