.moleTitle,
.moleScore,
.moleTimer {
  text-align: center;
}

.moleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moleStartBtn,
.moleStopBtn {
  margin: 0px 2px 5px 2px;
}

.moleGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moleGrid {
  margin: auto;
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.hillTile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1.5px;
  background-color: white;
}

.hillTile img {
  width: 100%;
  height: 100%;
}

.hideMole {
  display: none;
}
